# author: shmakovpn <shmakovpn@yandex.ru>
# date: 2020-07-31

# IDEs
.idea/
cache/
CACHE/
gunicorn_start
.vs/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# ng new (Angular scaffolding)
.project
.classpath
.c9/
*.launch
.settings/
.sublime-workplace
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
# /typings
/tmp
/out-tsc
/bazel-out
chrome-profiler-events*.json
speed-measure-plugin*.json
.DS_Store
Thumbs.db


# python
*.pyc
__pychache__/
*.egg-info/
.eggs/
.Python

# Django
migrations/
db.sqlite3
settings.py
manage.py

# virtualenv
venv/

# sphinx
docs/build/html/
docs/build/doctrees/
_build/
# _static/
_templates/

# codecov
.coverage

# pytest
.pytest_cache/

# vim swp
*.swp

# pytest cache
.pytest_cache/

# build
env/
build/
dist/
sdist/

# C extensions
*.so

# secret files
secret/

# todo
todo/
temp.py
temp.html
temp.txt
temp.csv
notes
shmakovpn/nodejs_examples/dist

# nodejs
node_modules/
package-lock.json
/__base64encode.csv


# mypy
.mypy_cache


# Linux packages
*.deb
*.rpm

# some logs
debug.log
geckodriver.log

# selenium
chromedriver.exe
chromedriver
geckodriver
geckodriver.exe

# cloud clients
.insyncdl
